* {
  font-family: "Special Elite", cursive;
}

body {
  background-image: url(../images/kyler-nixon-208875-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 45px;
}

.jumbotron {
  background-color: #e49c00;
  border: 0.5px solid black;
}

#title {
  font-size: 5rem;
}

#startButton {
  padding: 28px 80px;
  margin-top: 20px;
}

.btn {
  font-size: 2rem;
}
.btn-primary {
  background-color: #1569ac;
  border-color: #1569ac;
  color: #fff;
}

#theQuestion {
  font-size: 1.8rem;
}

.tf {
  font-size: 1.5rem;
}

.tf:hover {
  color: #1569ac;
  /* font: 1px solid #1569AC; */
  cursor: pointer;
}

.stats {
  font-size: 1.8rem;
}
