* {
    font-family: 'Special Elite', cursive;
}

body {
    background-image: url(../images/kyler-nixon-208875-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 45px;
}

.jumbotron {
    background-color: #E49C00;
    border: .5px solid black;
}

#title {
    font-size: 5.0rem;
}

#startButton {
    padding: 28px 80px;
    margin-top: 20px;
}

.btn {
    font-size: 2.0rem;
}
.btn-primary {
    background-color: #1569AC;
    border-color: #1569AC;
}

#theQuestion {
    font-size: 1.8rem;
}

.tf {
    font-size: 1.5rem;
}

.tf:hover {
    color: #1569AC;
    /* font: 1px solid #1569AC; */
    cursor: pointer;
}